[{:itonami.blueprint/social-impact [:worker-safety :animal-welfare :crop-productivity :production-continuity]
  :itonami.blueprint/domain :agriculture/mixed-crop-livestock-farm-scheduling-logistics-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "9213"
  :itonami.blueprint/name "Mixed Crop and Livestock Farm Scheduling and Logistics Coordination Practice"
  :itonami.blueprint/governor :mixed-farm-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-9213"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
